{
    "version": "",
    "description": "The AI Code Editor",
    "homepage": "https://www.cursor.com",
    "license": {
        "identifier": "Proprietary",
        "url": "https://www.cursor.com/terms-of-service"
    },
    "innosetup": true,
    "architecture": {
        "64bit": {
            "url": "",
            "hash": ""
        },
        "arm64": {
            "url": "",
            "hash": ""
        }
    },
    "extract_dir": "{code_GetDestDir}",
    "post_install": [
        "Remove-Item \"$dir\\`$*\", \"$dir\\Uninst*\" -Recurse",
        "if (!(Test-Path \"$dir\\data\\user-data\") -and (Test-Path \"$env:AppData\\Cursor\")) {",
        "    info '[Portable Mode] Copying user data...'",
        "    Copy-Item \"$env:AppData\\Cursor\" \"$dir\\data\\user-data\" -Recurse",
        "}",
        "$extensions_file = \"$dir\\data\\extensions\\extensions.json\"",
        "if ((Test-Path \"$extensions_file\")) {",
        "    info 'Adjusting path in extensions file...'",
        "    (Get-Content \"$extensions_file\") -replace '(?<=cursor(/|\\\\\\\\)).*?(?=(/|\\\\\\\\)data(/|\\\\\\\\)extensions)', $version | Set-Content \"$extensions_file\"",
        "}"
    ],
    "bin": [
        [
            "resources\\app\\bin\\cursor.cmd",
            "",
            "--user-data-dir=\"$dir\\data\\user-data\" --extensions-dir=\"$dir\\data\\extensions\""
        ]
    ],
    "shortcuts": [
        [
            "Cursor.exe",
            "Cursor",
            "--user-data-dir=\"$dir\\data\\user-data\" --extensions-dir=\"$dir\\data\\extensions\""
        ]
    ],
    "persist": "data"
}
